@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Edu NSW ACT Foundation', cursive;
    --fonte3: 'Roboto Mono', monospace;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

html, body{
    min-height: 100%;
    background-color: darkgray;
    font-family: var(--fonte2);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 10vw;
}

head > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;

}

body > section > p{
    font-family: var(--fonte2);
}

section{
   
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 40px;
    font-size: 3.5vw;
}

section.imagem > p{
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.336);
   
}

section.normal{
    background-color: white;
    color: black;
    
}

section.imagem{
    background-color: rgb(75, 71, 71);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.726);
    background-size: cover;
    background-attachment: fixed;

}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;

}


section#img02{
    background-image: url(../imagens/background002.jpg);
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
